@model LogUser

<h2>Login</h2>
<form action="/Login" method="post">
    <div class="form-group">
        <label for="LogEmail">Email:</label>
        <input asp-for="LogEmail" class="form-control" value="123@123.com"> @*data input into value to autofill login for easier entry and re-etnry*@
        <span asp-validation-for="LogEmail" class="text-danger"></span>
    <div class="form-group">
        <label for="LogPassword">Password:</label>
        <input asp-for="LogPassword" class="form-control" value="123456789"> @*data input into value to autofill login for easier entry and re-etnry*@
        <span asp-validation-for="LogEmail" class="text-danger"></span>
        <span asp-validation-for="LogPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value ="Log In" class="btn btn-primary">
    </div>
</form>